<h1>Bienvenue sur le site de {{ title }} !</h1>
<form
(submit)="onSubmit()"
[formGroup]="articleForm"
#form="ngForm"
>
form.valid ? {{form.valid}}
<label for="ref">
    Ref: 
    <input type="text" formControlName="ref">
</label>

<label for="ref">
    Name: 
    <input type="text" formControlName="name">
</label>

<label for="ref">
    Description: 
    <input type="text" formControlName="description">
</label>

<button type="submit">submit</button>

</form>
<div *ngFor="let article of articlesList; let i=index;">
    <h2>Article {{i+1}}</h2>
    <ul>
        <li>ref: {{ article.ref }}</li>
        <li>name: {{ article.name }}</li>
        <li>description: {{ article.description }}</li>
    </ul>    
</div>