<h1>Bienvenue sur le site de {{ title }} !</h1>
<app-create-kitten
(submitKitten)="receivedKittenToCreate($event)"
></app-create-kitten>

<app-list-kitten
[kittens]="kittens"
(sendKitten)="receivedKittenToAdopt($event)"
></app-list-kitten>

<app-user-kitten
[kittens]="adoptedKittens"
></app-user-kitten>

<div 
[ngStyle]="{'color': 'brown'}"
*ngIf="isAlreadyAdopted || isAlreadyCreated"
>
    <p *ngIf="isAlreadyAdopted"> Tu as déjà adopté ce chat !</p>
    <p *ngIf="isAlreadyCreated"> Tu as déjà crées ce chat !</p>
</div>
