form {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8rem;
    padding: 0.8rem 1.2rem;
    box-shadow: 0 0 5px 1px grey;
    border-radius: 3px;
}

label, input {
    width: 100%;
    margin-bottom: 0.8rem;
}