<form (ngSubmit)="onSubmit()" #myForm="ngForm">
  
  <div>
    <label for="email">Mail</label>
    <input name="email" type="email" [(ngModel)]="user.email" #email="ngModel" required email pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
  </div>
  <div *ngIf="email.errors && myForm.submitted">
    <span [ngStyle]="{'color': 'red'}" *ngIf="email.errors?.['required']">L'email est requis</span>
    <span [ngStyle]="{'color': 'gold'}" *ngIf="email.errors?.['pattern'] || email.errors?.['email']" >L'email est invalide</span>
  </div>

  <div>
    <label for="firstname">Prénom</label>
    <input name="firstname" type="text" [(ngModel)]="user.firstname" #firstname="ngModel" required minlength="3" maxlength="15">
  </div>  
  <div *ngIf="firstname.errors && myForm.submitted">
      <span [ngStyle]="{'color': 'red'}" *ngIf="firstname.errors?.['required']">Le prénom est requis</span>
      <span [ngStyle]="{'color': 'gold'}" *ngIf="firstname.errors?.['minlength']">Le prénom doit comporter au moins 3 caractères</span>
      <span [ngStyle]="{'color': 'gold'}" *ngIf="firstname.errors?.['maxlength']">Le prénom ne doit pas dépasser 15 caractères</span>
  </div>

  <div>
    <label for="lastname">Nom</label>
    <input name="lastname" type="text" [(ngModel)]="user.lastname" #lastname="ngModel" required minlength="3" maxlength="15">
  </div>
  <div *ngIf="lastname.errors && myForm.submitted">
      <span [ngStyle]="{'color': 'red'}" *ngIf="lastname.errors?.['required']">Le prénom est requis</span>
      <span [ngStyle]="{'color': 'gold'}" *ngIf="lastname.errors?.['minlength']">Le nom doit comporter au moins 3 caractères</span>
      <span [ngStyle]="{'color': 'gold'}" *ngIf="lastname.errors?.['maxlength']">Le nom ne doit pas dépasser 15 caractères</span>
  </div>

  <div>
    <label for="password">Mot de pass</label>
    <input name="password" type="text" [(ngModel)]="user.password" #password="ngModel" required>
  </div>
  <div *ngIf="password.errors && myForm.submitted">
      <span [ngStyle]="{'color': 'red'}" *ngIf="password.errors?.['required']">Le mot de pass est requis</span>
  </div>

  <div>
    <button type="reset">Restaurer</button>
    <button type="submit">Sauvegarder</button>
  </div>

</form>
