body { position: relative; }

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(200px + 3.2rem);
}

div {
    width: 200px;
    box-shadow: 0 0 5px 1px grey;
    border-radius: 3px;
    padding: 0.8rem;
    margin: 0.8rem;
}

.kitten-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 420px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
}