<form
 (ngSubmit)="onSubmit()"
 [formGroup]="userForm" #form="ngForm"
 >
 <p>form.valid ? {{ form.valid }}</p>
    <div>
        <label>
            Username:
            <input type="text" formControlName="userName">
        </label>
    </div>

    <div formGroupName="credentials">
        Credentials :
        <div>
            <label>
                Email:
                <input type="text" formControlName="userEmail">
            </label>
            <ng-container *ngIf="!form.valid && form.submitted">
                <div>
                    <p 
                    [hidden]="!userForm.get('credentials.userEmail')?.errors?.['required']"
                    >Email requis !</p>
                    <p 
                    [hidden]="!userForm.get('credentials.userEmail')?.errors?.['email']"
                    >{{ userForm.get('credentials.userEmail')?.errors?.['email']?.['rules'] }}</p>
                </div>
            </ng-container>
        </div>
    
        <div>
            <label>
                Password:
                <input type="password" formControlName="userPassword">
            </label>
        </div>
    </div>


    <div formGroupName="userAddress">
        Address:
        <label>
            Road:
            <input type="text" formControlName="road">
        </label>
        <label>
            Zip-code:
            <input type="text" formControlName="zipCode">
        </label>
        <label>
            City:
            <input type="text" formControlName="city">
        </label>
    </div>
    
    <button type="submit">submit</button>
</form>

<div *ngIf="form.submitted">
    <pre>Credentials: {{ newCredentials }}</pre>    
</div>
