div {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 1px grey;
    border-radius: 3px;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
}

h3 {
    margin-bottom: 0;
}

img {
    width: 100%;
}
