div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    box-shadow: 0 0 3px 3px #69696969;
    padding: 1rem;
    font-family: sans-serif;
}

img {
    width: 100%;
}
